---
import Avatar from "../components/Avatar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="this is me" description="Identity in flux.">
  <div
    class="min-h-screen bg-background text-foreground transition-colors duration-300"
  >
    <main class="flex items-center justify-center min-h-screen px-4">
      <div class="w-full max-w-2xl">
        <div class="mb-16">
          <div class="mb-12 flex justify-start">
            <Avatar />
          </div>
          <div class="space-y-6">
            <div>
              <h1
                class="text-4xl md:text-5xl font-heading font-medium leading-tight tracking-tight text-accent"
              >
                how to contact me
              </h1>
            </div>
            <div class="space-y-4">
              <p class="text-base text-foreground/60 leading-relaxed max-w-xl">
                Normally here would appear a contact form, but I don't have one
                ready yet (this yet has been here for over 10 years, d'oh).
                Instead please reach out using the social networks/sites on the
                home page. You might also be able to guess an email address. I
                suggest trying hello@ the domain you are currently viewing this
                on.
              </p>
              <h2
                class="text-lg font-heading text-foreground/80 leading-relaxed max-w-xl"
              >
                Note to recruiters 👋
              </h2>
              <p class="text-base text-foreground/60 leading-relaxed max-w-xl">
                It's nice to meet you, but you are not an emergency. I'm happy
                in my current role, and an unexpected phone call is very likely
                to make a very negative impression of both you and your clients.
                Stick to email!
              </p>
              <p class="text-base text-foreground/60 leading-relaxed max-w-xl">
                Australia/Signal<br />
                +61 427 777 932 <br />
                USA <br />
                +1 415 341 5141
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</Layout>
