---
import Avatar from "../components/Avatar.astro";
import Link from "../components/Link.astro";
import PageMain from "../components/PageMain.astro";
import PageSubTitle from "../components/PageSubTitle.astro";
import PageTitle from "../components/PageTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact Sophie" description="how to contact Sophie">
  <PageTitle> how to contact Sophie </PageTitle>

  <PageSubTitle>
    my pronouns are <strong class="text-foreground contrast-more:underline">she/her</strong>
  </PageSubTitle>

  <PageMain>
    <p>
      Please reach out using the social networks/sites on the <Link href="/">home page</Link>. You might also be able to
      guess an email address. I suggest trying hello@ the domain you are currently viewing this on.
    </p>

    <section
      class="space-y-4 p-4 md:p-8 xl:p-12 bg-fuchsia-100 contrast-more:bg-fuchsia-50 rounded-lg text-fuchsia-900"
    >
      <h2 class="text-lg font-heading text-foreground/80">Note to recruiters and sales folk 👋</h2>
      <p>
        It's nice to meet you, but you are not an emergency. I'm happy in my current role, and an unexpected phone call
        is very likely to make a very negative impression of both you and your clients. Stick to email!
      </p>
    </section>

    <div>
      <h2 class="text-lg font-heading text-foreground/80">Australia/Signal</h2>
      <p>+61 427 777 932</p>
    </div>
    <div>
      <h2 class="text-lg font-heading text-foreground/80">USA</h2>
      <p>+1 415 341 5141</p>
    </div>
  </PageMain>
</Layout>
