---
import Avatar from "../components/Avatar.astro";
import PageTitle from "../components/PageTitle.astro";
import PageSubTitle from "../components/PageSubTitle.astro";
import Layout from "../layouts/Layout.astro";
import PageMain from "../components/PageMain.astro";
import Link from "../components/Link.astro";
---

<Layout title="hello, I'm Sophie Quinn-Graham" description="my pronouns are she/her">
  <PageTitle>hello, I'm Sophie</PageTitle>
  <PageSubTitle>
    my pronouns are <strong class="text-foreground contrast-more:underline">she/her</strong>
  </PageSubTitle>

  <PageMain>
    <p>
      You may have spotted a few hints (I'm not great at being subtle when I'm trying to be), and I'm ready to share:
      I'm Sophie <span class="whitespace-nowrap">Quinn-Graham</span>, a trans woman.
    </p>
    <p>
      If you're wondering if I'm the person with a name you think you know, hi! I probably am. I'm also still married to
      a wonderful person named Patrick, so I don't have negative feelings about that name - but we're both going to miss
      being "the two pats".
    </p>
    <p>
      The real world is eventually consistent, so it's going to take me some time to filter this update across all the
      social and professional groups I exist in. I'm not going to get upset if you don't know this, but I'd appreciate
      you making the effort and updating any references to me that you might have.
    </p>
    <p>
      You might want to go <Link href="/">Home</Link> or to
      <Link href="https://cloudisland.nz/@thisisme">Mastodon</Link>.
    </p>
  </PageMain>
</Layout>
