---
import PageTitle from "../components/PageTitle.astro";
import PageSubTitle from "../components/PageSubTitle.astro";
import Layout from "../layouts/Layout.astro";
import PageMain from "../components/PageMain.astro";
import Link from "../components/Link.astro";
---

<Layout title="this is Sophie" description="Sophie Quinn-Graham, she/her">
  <PageTitle>this is Sophie</PageTitle>

  <PageSubTitle>Sophie Quinn-Graham</PageSubTitle>

  <PageMain>
    <p>
      I am just a <Link href="/hello">girl</Link> living in Sydney, Australia.
    </p>

    {
      /*
      <p>
          I have spent my time at work empowering people to design and
          build reliable, secure and scalable systems: a micro service,
          an internal platform, a team, achieving and retaining multiple
          compliance standards (incl PCI DSS 3.2.1, SOC 2 Type 2, and
          various AWS partnership programs).
        </p>
      */
    }

    <p>
      Rarely I
      <Link href="/talks">talk</Link>
      at conferences or meetups.
    </p>

    <p>
      Can be found on
      <Link href="https://cloudisland.nz/@thisisme" rel="me">mastodon</Link>,
      <Link href="https://github.com/thissophie">GitHub</Link>,
      <Link href="https://www.linkedin.com/in/thepatrick">LinkedIn</Link>.
    </p>

    <p>Reach out by emailing hello@ this domain.</p>
  </PageMain>
</Layout>
