<div class="relative w-24 h-24 rounded-full overflow-hidden bg-muted shrink-0">
  <img
    alt="Sophie Quinn-Graham"
    title="Sophie Quinn-Graham"
    width="96"
    height="96"
    decoding="async"
    data-nimg="1"
    class="w-full h-full object-cover"
    src="/avatar/avatar-96@1x.png"
    srcset="/avatar/avatar-96@1x.png 1x, /avatar/avatar-96@2x.png 2x, /avatar/avatar-96@3x.png 3x"
    style="color: transparent;"
  />
</div>
